<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./style.css">
     <title>Home</title>
</head>
<body>
     <nav>
          <h1>Home</h1>
          <main>
               <ul style="list-style-type: none;">
                    <a href="/">
                         <li>Home</li>
                    </a>
                    <a href="/about">
                         <li>about</li>
                    </a>
                    <a href="/contact">
                         <li>contact</li>
                    </a>
                    <a href="/blogs">
                         <li>blog</li>
                    </a>
               </ul>
          </main>
     </nav>