<%- include("partials/Header") -%>
<div style="height: 70vh;">
     <center>
          <h1>About</h1>
     </center>
     <p style="padding: 30px; line-height: 2; font-size: large;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Libero iusto assumenda esse error perferendis eos temporibus architecto nisi voluptatum, 
          iure in magnam dolorum et alias velit necessitatibus exercitationem praesentium vitae?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Libero iusto assumenda esse error perferendis eos temporibus architecto nisi voluptatum, 
          iure in magnam dolorum et alias velit necessitatibus exercitationem praesentium vitae?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Libero iusto assumenda esse error perferendis eos temporibus architecto nisi voluptatum, 
          iure in magnam dolorum et alias velit necessitatibus exercitationem praesentium vitae?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Libero iusto assumenda esse error perferendis eos temporibus architecto nisi voluptatum, 
          iure in magnam dolorum et alias velit necessitatibus exercitationem praesentium vitae?
     </p>
</div>
<%- include('partials/FOOTER') -%>

