<%- include("partials/Header") -%>
<div style="height: 70vh;">
     <center>
          <h1>Success</h1>
          <p><%= personName %> Your Data has been submitted</p>
     </center>
</div>
<%- include('partials/FOOTER') -%>

